-
  const seoForPages = {
    "commonData": {
      "author": "author common",
      "url": "url",
      "lang": "ru",
      "site_name": "site_name",
      "image200200Url": "imageUrl" //- full path (with https://)
    },
    "index": {
      "title": "Title index",
      "description": "description index",
      "keywords": "keywords index"
    }
  }
-
  const templateForPages = {
    "happyBrowserText": "ВНИМАНИЕ! Вы используете <strong>УСТАРЕВШИЙ Internet Explorer</strong> браузер.<br>Пожалуйста, <a href='https://browsehappy.com' target='_blank' rel='noopener'> обновите ваш браузер</a>, чтобы увидеть больше возможностей на сайтах!",
    "noScriptText": "ВНИМАНИЕ! Для корректной работы сайта необходимо включить Javascript в настройках вашего браузера."
  }
-
  const headerData = {
    "logo": {
      "logoUrl": "img/favicon/favicon-32x32.png",
      "logoText": "Logo"
    },
    "navData": {
      "headerMenuMobileOpenButton": {
        "id": "headerMenuMobileOpenButton",
        "iconUrl": "img/icon/menu.svg"
      },
      "headerMenuMobileCloseButton": {
        "id": "headerMenuMobileCloseButton",
        "iconUrl": "img/icon/close.svg"
      },
      "menuItems": [
        {
          "name": "пункт1",
          "anchor": "suitable"
        },
        {
          "name": "пункт2",
          "anchor": "results"
        },
        {
          "name": "пункт3",
          "anchor": "author"
        }
      ]
    }
  }
-
  const introData = {
    "title": "BANNER",
    "info": "INFO"
  }
-
  const footerData = {
    "copyrigth": "&copy; <span id='thisYear'></span> Все права защищены.",
    "author": "Разработано <a href='https://t.me/chebatarou' target='_blank' title='Написать разработчику' rel='noopener'>BorCheLa</a>"
  }
